<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="noPcommerce_Suite">

	<listeners>
		<listener
			class-name="com.nopCommerce.utilities.Reporting"></listener>
	</listeners>
	<test name="noPcommerce_Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.nopCommerce.testCases.TC_LoginTest_001" />
			<!--<class name="com.nopCommerce.testCases.TC_LoginDDT_002" /> -->
			<!--<class name="com.nopCommerce.testCases.TC_AddCustomerTest_003"/> -->
		</classes>
	</test>
	<!-- <test name="noPcommerce_Test1">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.nopCommerce.testCases.TC_LoginTest_001" />
		</classes>
	</test>
	<test name="noPcommerce_Test2">
		<parameter name="browser" value="ie"></parameter>
		<classes>
			<class name="com.nopCommerce.testCases.TC_LoginTest_001" />
		</classes>
	</test> -->
</suite>